@model List<Blogg.Models.BloggModel>

@{
    ViewData["Title"] = "Blogglista";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Home" asp-action="BloggList" method="get" class="search">
    <p>
        Söka med föfattare eller blogg:
        <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Söka" />
    </p>
</form>

<div class="author">
    <p>Föfattarelista</p>
    <!-- Lägg till-knapp för att visa inlägg av specifik författare -->
    @foreach (var author in Model.Select(item => item.CreateBy).Distinct())
    {
        <form asp-controller="Home" asp-action="FilterByAuthor" method="get">
            <input type="hidden" name="author" value="@author" />
            <button type="submit">@author</button>
        </form>
    }
</div>

<div class="main">
    @if (Model != null && Model.Any())
    {
        @foreach (var item in Model)
        {
            <a asp-action="Details" asp-route-id="@item.Id">
                <article>
                    <h4>@item.Title</h4>

                    <p>@item.CreateBy - @item.PublishDate</p>
                    <p>@item.Content.Split('.')[0]...</p>
                    <!-- Kontrollera om det finns bilder-->
                    <p>
                        @if (!string.IsNullOrEmpty(item.ImageName))
                        {
                            @item.ImageName
                        }
                        else
                        {
                        <p>Ingen bild</p>
                        }
                    </p>
                </article>
            </a>
        }
    }
    else
    {
        <p>Inga relevanta inlägg hittades</p>
    }
</div>

@section styles {
    <style>
        .main {
            margin-top: 2rem;
            margin-bottom: 6rem;
        }

        .main a,
        article p {
            text-decoration: none;
            color: #333; 
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        .search {
            font-size: 1.1rem;
        }

        p {
            color: rgb(231, 231, 231);
        }

        .author {
            position: fixed;
            right: 3%;
            background-color: #596968;
            padding: 1rem 1rem 0 1rem;
            border-radius: 10px;
        }

        button {
            background-color: #f1f1f1;
            border: none;
            color: rgb(32, 32, 32);
            padding: 8px;
            text-decoration: none;
            cursor: pointer;
            border-radius: 4px;
            margin-bottom: 1rem;
        }

        input[type="text"] {
            border-radius: 5px;
            width: auto;
        }

        input[type="submit"]:hover,
        button:hover {
            background-color: #3f8580;
        }

        article {
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-bottom: 20px;
            background-color: rgb(231, 231, 231);
        }

        article:hover {
            box-shadow: 0 8px 16px rgba(255, 255, 255, 0.7);
        }
    </style>
}