@model Blogg.Models.BloggModel

@{
    ViewData["Title"] = "Radera";
}

<h1>@ViewData["Title"]</h1>

<div class="detail">
    <h4>Är du säker på att du vill ta bort detta?</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Radera" class="btn btn-danger" /> |
        <a asp-action="Index">Tillbaka till lista</a>
    </form>
</div>

@section styles {
    <style>
        .detail {
            background-color: rgb(231, 231, 231);
            padding: 2rem 1.5rem;
            margin-bottom: 0;
            border-radius: 10px;
            margin-bottom: 5rem;
        }
    </style>
}