@model IEnumerable<Blogg.Models.BloggModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Blogg" asp-action="Index" method="get">
    <p>
        Search:
        <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                @* Visa 7 ord följt av ellips *@
                <td>
                    @{
                        string[] words = item.Content.Split(' ');
                        if (words.Length > 7)
                        {
                            @Html.Raw(string.Join(" ", words.Take(7)) + "...")
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Content)
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateBy)
                </td>
                <td>
                    @* <a href="images/@Html.DisplayFor(modelItem => item.ImageName)">@Html.DisplayFor(modelItem =>
                item.ImageName)</a> *@

                    @if (!string.IsNullOrEmpty(item.ImageName))
                    {
                        <a href="~/images/@item.ImageName">@Html.DisplayFor(modelItem => item.ImageName)</a>
                    }
                    else
                    {
                        <p>Ingen bild</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section styles {
    <style>
        .table {
            background-color: rgb(231, 231, 231);
            padding: 2rem 1.5rem;
            margin-bottom: 0;
        }
    </style>
}